// Fonts
$f-base: 'Roboto-Regular', sans-serif;

// Colors

$c-dark: #171319;
$c-dark2: #1B161D;
$c-dark3: #1E1920;
$c-dark4: #1E1A20;
$c-dark5: #2E2532;
$c-dark6: #4D4260;

$c-white: #ffffff;

$c-beige: #F4F4F4;
$c-dark-beige: #A69EA9;
$c-orange: #FF8D06;
$c-purple: #6506FF;
$c-green: #008C6B;